[submodule "toy-examples/sparse_measure_bnn"]
	path = toy-examples/sparse_measure_bnn
	url = git@github.com:gitrdm/sparse_measure_bnn.git
[submodule "toy-examples/BayesianMnist"]
	path = toy-examples/BayesianMnist
	url = git@github.com:gitrdm/BayesianMnist.git
[submodule "toy-examples/paperfold-bnn"]
	path = toy-examples/paperfold-bnn
	url = git@github.com:gitrdm/paperfold-bnn.git
